<head>
	<link rel="stylesheet" type="text/css" href="app.css">
	<!-- include the jQuery library -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous">		  	
	</script>
</head>

<body>
	<header>
	<h1>
		Todo<span>list</span>
	</h1>
    <h2>A simple todo list app built with node</h2>
	</header>

	<section class="form">
		<input type="text" name="" id="todoInput" placeholder="Insert your task here and press return...">
	</section>

	<ul class="list">
		<!--<li class="task">THIS IS STARTER TEXT <span>X</span></li>-->
	</ul>
	<script type="text/javascript" src="app.js"></script>

</body>
